@import "tailwindcss";

@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --color-energy-purple: #9333ea;
  --color-energy-red: #ef4444;
  --color-energy-orange: #f97316;
  --color-energy-yellow: #eab308;
  --color-energy-green: #22c55e;
}

body {
  background-color: var(--color-slate-50);
  font-family: var(--font-sans);
  color: var(--color-slate-900);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
